:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer {
  padding-top: 2rem;
  position: absolute;
  bottom: 2rem;
}
a {
  color: #99f3ff;
  padding-right: 2rem;
  i {
    width: 24px;
    overflow: hidden;
    position: relative;
    top: 8px;
  }
}
